## 1. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## 2. Importing Data

In [2]:
# Creating a reusable path to my data

path = r'C:\Users\Vaiva\Documents\CareerFoundry\Achievement 4 07-2023 Instacart Basket Analysis'

In [5]:
# Importing orders_products_merged.pkl

df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_new_var.pkl'))

In [6]:
df.shape

(32404859, 18)

In [7]:
df.head()

,product_id,product_name,aisle_id,department_id,prices,user_id,order_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,ind,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,138,3139998,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,138,1977647,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,709,389851,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest day,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,764,652770,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Least busy,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,764,1813452,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Least busy,Average orders

## 3. Task

### Step 2

#### Find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe.

In [67]:
# Group data by department_id

df.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### Step 3

#### How do the results for the entire dataframe differ from those of the subset?

The means for different departments differ slightly, however it doesn't seem to have a pattern, some means are higher, some are lower if comparing a subset with the full dataframe.

### Step 4

#### Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

Criteria for the flag:

1. If the maximum orders the user has made is over 40, then the customer will be labeled a “Loyal customer.”
2. If the maximum orders the user has made is over 10 but less than or equal to 40, then the customer will be labeled a “Regular customer.”
3. If the maximum orders the user has made is less than or equal to 10, then the customer will be labeled a “New customer.”

In [10]:
# Creating a new column max_order

df['max_order'] = df.groupby(['user_id'])['order_number'].transform(np.max)

In [13]:
# Checking if the column was created

df.head()

,product_id,product_name,aisle_id,department_id,prices,user_id,order_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,ind,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,138,3139998,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,138,1977647,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,709,389851,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest day,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,764,652770,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Least busy,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,764,1813452,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Least busy,Average orders,3

In [14]:
# Creating a loyalty flag in a new column

df.loc[df['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df.loc[(df['max_order'] <= 40) & (df['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df.loc[df['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [81]:
# Checking if the column was created

df.head()

,product_id,product_name,aisle_id,department_id,prices,user_id,order_id,order_number,order_day_of_week,order_hour_of_day,...,reordered,ind,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spend,spending_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,138,3139998,28,6,11,...,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low Spender
1,1,Chocolate Sandwich Cookies,61,19,5.8,138,1977647,30,6,17,...,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low Spender
2,1,Chocolate Sandwich Cookies,61,19,5.8,709,389851,2,0,21,...,0,both,Mid-range product,Busiest day,Busiest day,Average orders,5,New customer,7.930208,Low Spender
3,1,Chocolate Sandwich Cookies,61,19,5.8,764,652770,1,3,13,...,0,both,Mid-range product,Regularly busy,Least busy,Most orders,3,New customer,4.972414,Low Spender
4,1,Chocolate Sandwich Cookies,61,19,5.8,764,1813452,3,4,17,...,1,both,Mid-range product,Least busy,Least busy,Average orders,3,New customer,4.972414,Low Spender

In [18]:
# Checking counts

df['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

### Step 5

####  Is there a difference between the spending habits of the three types of customers? Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [25]:
# Grouping by loyalty flag/category and printing average, min and max of prices.

df.groupby('loyalty_flag').agg({'prices': ['mean', 'median', 'min', 'max']})

                     prices
                       mean median  min      max
loyalty_flag
Loyal customer    10.386336    7.4  1.0  99999.0
New customer      13.294670    7.4  1.0  99999.0
Regular customer  12.495717    7.4  1.0  99999.0

In [31]:
# Creating a subset of products with price 99999

df_99999 = df[df['prices'] == 99999]

In [37]:
# Checking counts of products with price 99999

df_99999['product_name'].value_counts(dropna = True)

2 % Reduced Fat  Milk    698
Name: product_name, dtype: int64

In [39]:
# Replacing 99999 price with a price of $6.4 from Instacart website for 2 % Reduced Fat Milk

df['prices'] = df['prices'].replace(99999, 6.4)

In [59]:
# Checking descriptive statistics for the prices column without the 99999 value

df['prices'].describe().astype(int)

count    32404859
mean            9
std           174
min             1
25%             4
50%             7
75%            11
max         14900
Name: prices, dtype: int32

In [60]:
# Creating a subset of products with price 14900

df_14900 = df[df['prices'] == 14900]

In [61]:
# Checking counts of products with price 14900

df_14900['product_name'].value_counts(dropna = True)

Lowfat 2% Milkfat Cottage Cheese    4429
Name: product_name, dtype: int64

In [62]:
# Replacing 14900 price with a price of $3.3 from Instacart website for Lowfat 2% Milkfat Cottage Cheese

df['prices'] = df['prices'].replace(14900, 3.3)

In [65]:
# Rechecking the basic descriptive statistics of 'prices' column without 14900 value

df['prices'].describe().astype(int)

count    32404859
mean            7
std             4
min             1
25%             4
50%             7
75%            11
max            25
Name: prices, dtype: int32

In [68]:
# Reruning the loyalty flag/category grouping with descriptive statistics of price (average, min and max of prices).

df.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.773021  1.0  25.0
New customer      7.800478  1.0  25.0
Regular customer  7.797592  1.0  25.0

#### Comment:

After cleaning up the incorrect prices, it seems that there is not a significant differece among the prices of products purchased by different customer groups. New customers seem to have a slightly higher average. To confirm if the difference is insignificant, I would run an ANOVA test for these 3 variables.

### Step 6

#### Create a spending flag for each user based on the average price across all their orders using the following criteria:
1. If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
2. If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [71]:
# Creating a new column average_spend

df['average_spend'] = df.groupby(['user_id'])['prices'].transform(np.mean)

In [77]:
# Checking if the column was created

df.head()

,product_id,product_name,aisle_id,department_id,prices,user_id,order_id,order_number,order_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,ind,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spend
0,1,Chocolate Sandwich Cookies,61,19,5.8,138,3139998,28,6,11,...,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,138,1977647,30,6,17,...,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,709,389851,2,0,21,...,20,0,both,Mid-range product,Busiest day,Busiest day,Average orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,764,652770,1,3,13,...,10,0,both,Mid-range product,Regularly busy,Least busy,Most orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,764,1813452,3,4,17,...,11,1,both,Mid-range product,Least busy,Least busy,Average orders,3,New customer,4.972414

In [78]:
# Creating a spending flag in a new column

df.loc[df['average_spend'] >= 10, 'spending_flag'] = 'High Spender'
df.loc[df['average_spend'] < 10, 'spending_flag'] = 'Low Spender'

In [79]:
df.head()

,product_id,product_name,aisle_id,department_id,prices,user_id,order_id,order_number,order_day_of_week,order_hour_of_day,...,reordered,ind,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spend,spending_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,138,3139998,28,6,11,...,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low Spender
1,1,Chocolate Sandwich Cookies,61,19,5.8,138,1977647,30,6,17,...,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low Spender
2,1,Chocolate Sandwich Cookies,61,19,5.8,709,389851,2,0,21,...,0,both,Mid-range product,Busiest day,Busiest day,Average orders,5,New customer,7.930208,Low Spender
3,1,Chocolate Sandwich Cookies,61,19,5.8,764,652770,1,3,13,...,0,both,Mid-range product,Regularly busy,Least busy,Most orders,3,New customer,4.972414,Low Spender
4,1,Chocolate Sandwich Cookies,61,19,5.8,764,1813452,3,4,17,...,1,both,Mid-range product,Least busy,Least busy,Average orders,3,New customer,4.972414,Low Spender

In [80]:
# Checking counts

df['spending_flag'].value_counts(dropna = False)

Low Spender     32285165
High Spender      119694
Name: spending_flag, dtype: int64

### Step 7

#### In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
1. If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
2. If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
3. If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [82]:
# Creating a new column days_since_prior_order_median

df['days_since_prior_order_median'] = df.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [83]:
# Checking if the column was created

df.head()

,product_id,product_name,aisle_id,department_id,prices,user_id,order_id,order_number,order_day_of_week,order_hour_of_day,...,ind,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spend,spending_flag,days_since_prior_order_median
0,1,Chocolate Sandwich Cookies,61,19,5.8,138,3139998,28,6,11,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low Spender,8.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,138,1977647,30,6,17,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low Spender,8.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,709,389851,2,0,21,...,both,Mid-range product,Busiest day,Busiest day,Average orders,5,New customer,7.930208,Low Spender,8.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,764,652770,1,3,13,...,both,Mid-range product,Regularly busy,Least busy,Most orders,3,New customer,4.972414,Low Spender,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,764,1813452,3,4,17,...,both,Mid-range product,Least busy,Least busy,Average orders,3,New customer,4.972414,Low Spender,9.0

In [84]:
# Creating a frequency flag in a new column

df.loc[df['days_since_prior_order_median'] > 20, 'frequency_flag'] = 'Non-frequent customer'
df.loc[(df['days_since_prior_order_median'] <= 20) & (df['days_since_prior_order_median'] > 10), 'frequency_flag'] = 'Regular customer'
df.loc[df['days_since_prior_order_median'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [85]:
# Checking if the columns was created

df.head()

,product_id,product_name,aisle_id,department_id,prices,user_id,order_id,order_number,order_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spend,spending_flag,days_since_prior_order_median,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,138,3139998,28,6,11,...,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,138,1977647,30,6,17,...,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,709,389851,2,0,21,...,Mid-range product,Busiest day,Busiest day,Average orders,5,New customer,7.930208,Low Spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,764,652770,1,3,13,...,Mid-range product,Regularly busy,Least busy,Most orders,3,New customer,4.972414,Low Spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,764,1813452,3,4,17,...,Mid-range product,Least busy,Least busy,Average orders,3,New customer,4.972414,Low Spender,9.0,Frequent customer

In [91]:
# Checking counts of frequency_flag column

df['frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

#### Comment:
According to the data dictionary, NA values mean that it is the first order of the person. With this data, we can't say which type of customer the person will become, therefore it's best to leave these 5 values as they are until there is more data about these people.

## 4. Exporting Dataframe

In [94]:
# Exporting orders_products_flagged.pkl

df.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_flagged.pkl'))